.card-body {
    padding: 1.25rem 0 0 0 !important;
}

.nav-pills .nav-link {
    border-radius: 0 !important;
}

.bg-danger .card-body {
    background: white !important;
}

.search-box-container {
    position: relative;
    display: none;
}

.search-box {
    right: 0;
    position: absolute;
    z-index: 100;
}

.search-box {
    background: rgba(0, 0, 0, 0.08);
    padding: 10px;
    float: right;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
